

.tab-pane{
    -fx-background-color: #1c2c39;
}


.tab-pane *.tab-header-background {
    -fx-background-color: #052137;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-pane *.tab{
    -fx-background-color: #1d3f5a;
    -fx-pref-width: 100.0;
    -fx-min-width: 50.0;
    -fx-shape: "M300,290 L300,168 L421,168 L421,290 L300,290 z"
}

.tab-pane *.tab-label{
    -fx-text-fill: #bac6d0;
}

.tab-pane *.tab-close-button{
    -fx-background-color: #bac6d0;
}

.tab-pane *.tab-close-button:hover{
    -fx-background-color: #8eb2d0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #445f75
}



.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: transparent}

.new-tab-button {
    -fx-shape: "M300,290 L300,168 L421,168 L421,290 L300,290 z";
    -fx-pref-width: 30.0;
    -fx-pref-height: 27.0;
    -fx-background-color: transparent;
    -fx-border-color: #052137;

}

.new-tab-button:hover {
    -fx-background-color: #445f75;

}

.new-tab-button > .tab-container > .tab-label{
    -fx-alignment: CENTER;
    -fx-pref-width: 30.0;
}