.tool-bar{
    -fx-background-color: #1d3f5a;
    -fx-border-color: #1d3f5a;
}

.tool-bar *.button{
    -fx-background-color: transparent;
    -fx-text-fill: #bac6d0;
}

.tool-bar *.text-field{
    -fx-background-color: #bac6d0;
}
.tool-bar *SVGPath{
    -fx-fill:  #bac6d0;
}

.tool-bar .button:hover SVGPath{
    -fx-fill: #8eb2d0;

}

.tool-bar .button:hover{

    -fx-background-color: #445f75;
}
